@model List<Hearthstone.Models.Cards>
@{
    ViewBag.Message = "阿北的資料庫";
    ViewBag.Title = "About";
    var totalCount = Model.Count;
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


@section scripts{
    <link href="~/Content/basic.css" rel="stylesheet" />
    <link href="~/Content/wowhead.css" rel="stylesheet" />
    <script src="~/Scripts/UI/database.js"></script>

    <script type="text/javascript">
        //設定tooltip彈出圖片
        $(document).on("mouseenter", ".listview-mode-default > tbody > tr > td > .iconmedium > a", function () {
            var a = $(this).data("id"),
                b = $(this).offset(),
                c = $(this).width();
            SetToolTip(a, b, c);
        });
        $(document).on("mouseenter", ".listview-mode-default > tbody > tr > td > #title > a", function () {
            var a = $(this).data("id"),
                b = $(this).offset(),
                c = $(this).width();
            SetToolTip(a, b, c);
        });

        $(document).on("mouseleave", ".listview-mode-default > tbody > tr > td > .iconmedium > a", function () {
            $(".hs-tooltip").hide()
        })
        $(document).on("mouseleave", ".listview-mode-default > tbody > tr > td > #title > a", function () {
            $(".hs-tooltip").hide()
        })

        function SetToolTip(a, b, c) {
            $(".hs-tooltip").css({
                top: b.top,
                left: b.left + c + 5
            }).css("visibility", "visible");

            $(".hs-tooltip .hearthhead-tooltip-image").attr("src", "http://wow.zamimg.com/images/hearthstone/cards/enus/original/" + a + ".png")
            $(".hs-tooltip").css({
                top: b.top - $(window).scrollTop() < $(".hs-tooltip").height() ? b.top : b.top - $(".hs-tooltip").height(),
                left: b.left + c + 20
            }),
            $(".hs-tooltip").show()
        }
    </script>


    <script type="text/javascript">
        //Table 全部撈的 JS分頁製作
        var pageSize = 30;    //每頁顯示的記錄條數
        var curPage = 0;        //當前頁
        var lastPage;        //最後頁
        var direct = 0;        //方向
        var len;            //總行數
        var page;            //總頁數
        var begin;
        var end;

        $(document).ready(function display() {
            len = $("#cardList tr").length;    // 求這個表的總行數
            page = len % pageSize == 0 ? len / pageSize : Math.floor(len / pageSize) + 1;//根據記錄條數，計算頁數
            // alert("page==="+page);
            curPage = 1;    // 設置當前為第一頁
            displayPage(1);//顯示第一頁
            setPageInfo(curPage, page);

            $(".act_first").click(function firstPage() {    // 首頁
                curPage = 1;
                direct = 0;
                displayPage();
            });
            $(".act_previous").click(function frontPage() {    // 上一頁
                direct = -1;
                displayPage();
            });
            $(".act_next").click(function nextPage() {    // 下一頁
                direct = 1;
                displayPage();
            });
            $(".act_last").click(function lastPage() {    // 尾頁
                curPage = page;
                direct = 0;
                displayPage();
            });
        });

        function setPageInfo(curPage, page) {
            $(".page_info").text(curPage + "/" + page + "頁");
            //document.getElementById("btn0").innerHTML = "當前 " + curPage + "/" + page + " 頁    每頁 ";    // 顯示當前多少頁

            //調整頁面選單
            if (curPage == 1) {
                $(".act_first").attr("data-visible", "no")
                $(".act_previous").attr("data-visible", "no")
                $(".act_next").attr("data-visible", "yes")
                $(".act_last").attr("data-visible", "yes")
            }
            else if (curPage == page) {
                $(".act_first").attr("data-visible", "yes")
                $(".act_previous").attr("data-visible", "yes")
                $(".act_next").attr("data-visible", "no")
                $(".act_last").attr("data-visible", "no")
            }
            else {
                $(".act_first").attr("data-visible", "yes")
                $(".act_previous").attr("data-visible", "yes")
                $(".act_next").attr("data-visible", "yes")
                $(".act_last").attr("data-visible", "yes")
            }
        }

        function displayPage() {
            if (curPage <= 1 && direct == -1) {
                direct = 0;
                alert("已經是第一頁了");
                return;
            } else if (curPage >= page && direct == 1) {
                direct = 0;
                alert("已經是最後一頁了");
                return;
            }

            lastPage = curPage;

            // 修復當len=1時，curPage計算得0的bug
            if (len > pageSize) {
                curPage = ((curPage + direct + len) % len);
            } else {
                curPage = 1;
            }

            //document.getElementById("btn0").innerHTML = "當前 " + curPage + "/" + page + " 頁    每頁 ";        // 顯示當前多少頁

            begin = (curPage - 1) * pageSize ;// 起始記錄號
            end = begin + 1 * pageSize - 1;    // 末尾記錄號

            if (end > len) end = len;
            $("#cardList tr").hide();    // 首先，設置這行為隱藏
            $("#cardList tr").each(function (i) {    // 然後，通過條件判斷決定本行是否恢復顯示
                if ((i >= begin && i <= end))//顯示begin<=x<=end的記錄
                    $(this).show();
            });

            setPageInfo(curPage, page);
        }
    </script>
}



<div id="jkbfksdbl4">
    <div class="tabs-container">
        <ul class="tabs">
            <li>
                <a href="#list" class="">
                    <div>清單 (@totalCount)</div><b>Text (@totalCount)</b>
                </a>
            </li>
            <li>
                <a href="#pic" class="">
                    <div>卡片(英文) (@totalCount)</div><b>Gallery (@totalCount)</b>
                </a>
            </li>

        </ul>
    </div>
</div>
<div id="lv-hearthstonecards" class="listview">
    <div id="tab-pic" style="display: none;">
        <div class="listview-band-top">
            <div class="listview-nav listview-nav-nocontrols"><a href="javascript:;" data-visible="no">« First</a><a href="javascript:;" data-visible="no">‹ Previous</a><span><b>1</b> - <b>6</b> of <b>6</b></span><a href="javascript:;" data-visible="no">Next ›</a><a href="javascript:;" data-visible="no">Last »</a></div>
            <div class="listview-note">
                <div class="listview-sort-options">Sort by: <span class="listview-sort-options-choices"><a href="javascript:;" class="active sortasc">Name</a><a href="javascript:;">Race</a><a href="javascript:;">Class</a><a href="javascript:;">Cost</a><a href="javascript:;">Attack</a><a href="javascript:;">Health</a><a href="javascript:;">Durability</a><a href="javascript:;">Type</a><a href="javascript:;">Popularity</a></span></div>
            </div>
        </div>
        <div class="listview-scroller">
            <table class="listview-mode-tiled">
                <colgroup>
                    <col style="width: 20%;">
                    <col style="width: 20%;">
                    <col style="width: 20%;">
                    <col style="width: 20%;">
                    <col style="width: 20%;">
                </colgroup>
                <thead></thead>
                <tbody class="clickable">
                    @for (int i = 0; i < totalCount; i = i + 5)
                    {
                        <tr>
                            @{var count = i + 5;}
                            @for (int j = i; j < count; j++)
                            {
                                if (j < Model.Count)
                                {
                                    <td align="center" valign="bottom" style="padding: 0px;">
                                        <a href="http://www.hearthhead.com/card=811&text" data-disable-wowhead-touch-tooltip="true">

                                            <img src="@Model[j].img" style="display: block; width: 120%; max-width: 200px; margin: 0px -50px;">

                                        </a>
                                    </td>
                                }
                                else
                                {
                                    <td class="empty-cell"></td>
                                }
                            }
                        </tr>
                    }

                </tbody>
            </table>
            <div class="listview-nodata text"></div>
        </div>
        <div class="listview-band-bottom">
            <div class="listview-nav listview-nav-nocontrols"><a href="javascript:;" data-visible="no">« First</a><a href="javascript:;" data-visible="no">‹ Previous</a><span><b>1</b> - <b>6</b> of <b>6</b></span><a href="javascript:;" data-visible="no">Next ›</a><a href="javascript:;" data-visible="no">Last »</a></div>
            <div class="listview-note">&nbsp;</div>
        </div>
    </div>
    <div id="tab-list">
        <div class="listview-band-top">
            <div class="listview-nav listview-nav-nocontrols">
                <a class="act_first " href="javascript:;" data-visible="yes">«首頁 </a>
                <a class="act_previous" href="javascript:;" data-visible="yes">‹上一頁 </a>
                <a class="act_next " href="javascript:;" data-visible="yes"> 下一頁›</a>
                <a class="act_last " href="javascript:;" data-visible="yes"> 末頁»</a>
                <span class="page_info"></span>
            </div><span class="listview-quicksearch">
                <em class="fa fa-search"></em><a href="javascript:;" style="display: none;"><span></span></a>
                <input type="text" placeholder="Search within results..." style="width: 15em;">
            </span>
            <div class="listview-note">&nbsp;</div>
        </div>
        <div class="listview-scroller">
            <table class="listview-mode-default">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align: left;">
                            <div><a><span class="sortasc"><span>名稱</span></span></a></div>
                        </th>
                        <th>
                            <div><a><span><span>職業</span></span></a></div>
                        </th>
                        <th>
                            <div><a><span><span>魔力</span></span></a></div>
                        </th>
                        <th>
                            <div><a><span><span>血量</span></span></a></div>
                        </th>
                        <th>
                            <div><a><span><span>攻擊</span></span></a></div>
                        </th>
                        <th>
                            <div><a><span><span>類型</span></span></a></div>
                        </th>
                        <th style="text-align: center;">
                            <div><a><span><span>卡包</span></span></a></div>
                        </th>

                        @*<th>
                                <div><a><span><span>Popularity</span></span></a></div>
                            </th>*@
                    </tr>
                </thead>
                <tbody id="cardList" class="clickable">
                    @for (int i = 0; i < @totalCount; i++)
                    {
                        <tr style="display:none">
                            <td style="width: 1px; padding-right: 0px; border-right-style: none;">
                                <div class="iconmedium">
                                    <ins style="background-image: url(../../Content/Images/2015-08-08_105958.jpg);"></ins>
                                    <del></del>
                                    @* TODO Detail *@
                                    <a data-id="@Model[i].id" href="http://www.hearthhead.com/card=811/cult-master"></a>
                                </div>
                            </td>
                            <td style="text-align: left; border-left-style: none;">
                                <div id="title">
                                    <a data-id="@Model[i].id" href="http://www.hearthhead.com/card=811/cult-master" class="@CustomerHelper.SetTitleColor(Model[i].rarity) listview-cleartext">@Model[i].name</a>
                                    <div class="listview-blurb small">@Html.Raw(Model[i].text)</div>
                                </div>
                            </td>
                            <td class="small @CustomerHelper.SetPlayerClass(Model[i].playerClass)" style="white-space: nowrap;">
                                <a href="/cards?filter=cl=11">@CustomerHelper.SetPlayerClassLang(Model[i].playerClass)</a>
                            </td>
                            <td><span class="hearthstone-cost">@Model[i].cost</span></td>
                            <td><span class="hearthstone-health">@Model[i].health</span></td>
                            <td><span class="hearthstone-attack">@Model[i].attack</span></td>
                            <td style="white-space: nowrap;">

                                <a class="small q0" href="http://www.hearthhead.com/cards=4">@Model[i].type</a><br>
                                <a class="small q1" href="/cards?filter=ra=17">@Model[i].race</a>
                            </td>
                            <td>
                                <a class="small q0" href="http://www.hearthhead.com/cards?filter=cs=3">@Model[i].set</a>
                                <span class="icon-hsset-tiny" title="Classic Set" style="background: url(../../Content/Images/icon_s_classic.png);"></span>
                            </td>

                            @*<td>0</td>*@
                        </tr>
                    }


                </tbody>
            </table>
            <div class="listview-nodata text" style="display: none;"></div>
        </div>
        <div class="listview-band-bottom">
            <div class="listview-nav listview-nav-nocontrols">
                <a class="act_first" href="javascript:;" data-visible="yes">« 首頁</a>
                <a class="act_previous" href="javascript:;" data-visible="yes">‹ 上一頁</a>
                <a class="act_next" href="javascript:;" data-visible="yes">下一頁 ›</a>
                <a class="act_last" href="javascript:;" data-visible="yes">末頁 »</a>
                <span class="page_info"></span>
            </div>
            <div class="listview-note">&nbsp;</div>
        </div>
    </div>
</div>

<div class="wowhead-tooltip hearthhead-tooltip-image hs-tooltip"
     style="position: absolute; top: 122px; left: 33px; width: 200px; visibility: hidden; "
     data-visible="no">
    <p style="visibility: hidden; background-image: none;">
        <div></div>
    </p><table class="">
        <tbody>
            <tr>
                <td>
                    <img width="200" src="//wow.zamimg.com/images/hearthstone/cards/enus/medium/NEW1_037.png?9577" class="hearthhead-tooltip-image">
                    @*<table><tbody><tr><td><span class="q"><i>He's currently trying to craft a "flail-axe", but all the other swordsmiths say it can't be done.</i></span></td><th style="background-position:right top"></th></tr><tr class="hearthhead-tooltip-inner"><th style="background-position:left bottom"></th><th style="background-position:right bottom"></th></tr></tbody></table>*@
                </td>
                <th style="background-position: 100% 0%;"></th>
            </tr>
            <tr><th style="background-position: 0% 100%;"></th><th style="background-position: 100% 100%;"></th></tr>
        </tbody>
    </table><div class="wowhead-tooltip-powered"></div>
</div>