@model Hearthstone.Models.FilterModel
@{
    ViewBag.Message = "卡片資料庫";
    ViewBag.Title = "Card";
    var totalCount = 30;
}
<h2>.</h2>
<h2>@ViewBag.Message</h2>


@section scripts{
    <link href="~/Content/basic.css" rel="stylesheet" />
    <link href="~/Content/website.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/UI/database.js"></script>
    <script type="text/javascript">
        //初始化
        $("#SearchFormAjax").submit();



        $("#send_filter").click(function () {
            //set filter param
            var c = $("[type=checkbox][name=Class]:checked").map(function () { return this.value; }).get().join();
            var q = $("[type=checkbox][name=Quality]:checked").map(function () { return this.value; }).get().join();
            var t = $("[type=checkbox][name=Type]:checked").map(function () { return this.value; }).get().join();
            var s = $("[type=checkbox][name=Set]:checked").map(function () { return this.value; }).get().join();
            var r = $("[type=checkbox][name=Race]:checked").map(function () { return this.value; }).get().join();
            var co = $("[type=checkbox][name=Cost]:checked").map(function () { return this.value; }).get().join();
            var h = $("[type=checkbox][name=Health]:checked").map(function () { return this.value; }).get().join();
            var a = $("[type=checkbox][name=Attack]:checked").map(function () { return this.value; }).get().join();
            var n = $("#CardName").val();

            $("#Class").val(c)
            $("#Quality").val(q)
            $("#Type").val(t)
            $("#Set").val(s)
            $("#Race").val(r)
            $("#Cost").val(co)
            $("#Health").val(h)
            $("#Attack").val(a)
            $("#Name").val(n)
            //submit
            $("#SearchFormAjax").submit();
        });


    </script>
    <style>
        #fi .right-side {
            /*border: 1px solid #ffffff;*/
            background: #141414;
            margin-bottom: 10px;
            border-radius: 5px;
            float: left;
            white-space: nowrap;
            margin-right: 1.53846em;
            border-color: #e8ddbf;
            position: relative;
        }
    </style>
}




@Html.Partial("_FilterMenu")


@using (Ajax.BeginForm("GetCardDataList", "Home", null, new AjaxOptions { UpdateTargetId = "cardlist" }, new { @id = "SearchFormAjax" }))
{
    @Html.HiddenFor(model => model.Attack)
    @Html.HiddenFor(model => model.Class)
    @Html.HiddenFor(model => model.Cost)
    @Html.HiddenFor(model => model.Health)
    @Html.HiddenFor(model => model.Quality)
    @Html.HiddenFor(model => model.Race)
    @Html.HiddenFor(model => model.Set)
    @Html.HiddenFor(model => model.Type)
    @Html.HiddenFor(model => model.Name)
}


<div id="cardlist"></div>

<div class="wowhead-tooltip hearthhead-tooltip-image hs-tooltip"
     style="position: absolute; top: 122px; left: 33px; width: 200px; visibility: hidden; "
     data-visible="no">
    <p style="visibility: hidden; background-image: none;">
        <div></div>
    </p><table class="">
        <tbody>
            <tr>
                <td>
                    <img width="200" src="//wow.zamimg.com/images/hearthstone/cards/enus/medium/NEW1_037.png?9577" class="hearthhead-tooltip-image">
                    <table class="tooltip-table">
                        <tbody>
                            <tr>
                                <td>
                                   
                                </td>
                                <th style="background-position:right top"></th>
                            </tr>
                            <tr class="hearthhead-tooltip-inner"><th style="background-position:left bottom"></th><th style="background-position:right bottom"></th></tr>
                        </tbody>
                    </table>
                </td>
                <th style="background-position: 100% 0%;"></th>
            </tr>
            <tr><th style="background-position: 0% 100%;"></th><th style="background-position: 100% 100%;"></th></tr>
        </tbody>
    </table>
    <div class="wowhead-tooltip-powered"></div>
</div>
