<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("阿北的爐石充電站", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("首頁", "Index", "Home")</li>
                    <li>@Html.ActionLink("卡片資料庫", "About", "Home")</li>
                    <li>@Html.ActionLink("建構牌組", "About", "Home")</li>
                    <li>@Html.ActionLink("競技場", "About", "Home")</li>
                    <li>@Html.ActionLink("匯入資料", "Export", "Home")</li>
                    <li>@Html.ActionLink("連絡阿北", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content main-contents">
        @RenderBody()
        <hr />
        <footer copyright>
            <div class="copyright">
                <p>Copyright HearthCharge © 2015</p>
                <p>
                    Hearthstone assets used on this site are copyrighted and/or trademarked material of Blizzard Entertainment, Inc.
                    This site is not affiliated with Blizzard Entertainment, Inc.
                </p><p>
                    The hearthstone card-images appearing on this site are hosted by hearthhead.com (Zam Network).
                </p>
            </div>

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
